body{
	margin:0;
}
ul{
	list-style-type:none;
}
h2{
	text-align: right;
	line-height: 37pt;
}
td{
	vertical-align: text-top;
}
a{
	text-decoration: none;
	color:white;
}
#navHeader{
	z-index: 100;
	opacity:0.8;
}
#nav{
	z-index: 1000;
	white-space: nowrap;
}
#homeButton{
	margin-right: 30vw;
}
#philosophyAnchor{
	display: block;
	height: 150px;
	margin-top: -150px;
	visibility: hidden;
}
#scheduleAnchor{
	display: block;
	height: 175px;
	margin-top: -175px;
	visibility: hidden;
}
#memberAnchor{
	display: block;
	height: 170px;
	margin-top: -170px;
	visibility: hidden;
}
#pdfLink{
	color: black;
	text-decoration: underline;
}